<%- include('partials/header'); %>    
    <form>
        <div class="framed">
            Welcome <%= player.name %>. What do you want to do: <br/><br/> 
            <ul class="buttons">
                <li><button formaction="/player/pokemon" id="manage-button">MANAGE</button></li>
                <li><button formmethod="post" formaction="/player/save" id="save-button">SAVE</button></li>
                <li><button formaction="/">EXIT</button></li>
            </ul>
        </div>
    </form>
<%- include('partials/footer'); %>